.button{
    background: rgb(23, 141, 135);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 20px;
    text-transform: uppercase;
    border:none;
    cursor: pointer;
   
}

.grid{
    display: grid;
    grid-template-columns: 40% 30% auto;
    margin: 20px;
    }

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.15rem;
    word-wrap: break-word;
    
}

.name , .phone{
    
    text-transform: uppercase;
    color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;

}

.del-btn{
    background:rgb(245, 117, 117);
    padding:20px;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    border:none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;   
    width: 50%;
}